

                                              /**************************/
                                             /*           ALL          */
                                            /**************************/

body {
    margin: 0 auto;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    
}
footer {
    background-color: #2B2B2B;
    padding: 0;
    height: 350px;
    margin: 0;
}
a{
  text-decoration: none;
  color: white;
}
h1{
    color:white;
    font-weight:100;
    font-size:40px;
}
h2{
    font-size:32px;
    color:white;
    font-weight:100;
}

h3{
    color:white;
    font-weight:100;
    font-size:26px;
}
h5
{
  color:black;
    font-weight:100;
    font-size:40px;
    margin:11px 0 0 0;
}
h6
{
  color:white;
    font-weight:100;
    font-size:26px;
    text-align: left;
    height: 0px;
}
button {
    background-color:#ccc;
    border:0;

}
.hidden{
	display: none;
}

                                                /**************************/
                                              /*         HEADER         */
                                            /**************************/
.comverse-header{
  text-align: center;
  width: 100%;
    height: 75px;
   
    top: 0;
    left: 0;
    z-index: 1000; 
    position: fixed;
    box-shadow: -1px 0 0px 1px rgba(1, 6,0 , 4);
  background:white;
}
.nav-container{
  margin: auto;
}
.comverse-logo{
  display: inline-block;
  
  width: 190px;

margin:0 0 0 -16px;
}
.navbar{
  display: inline-block;
}
.nav{
  padding: inherit;

}
.mobile-search-textbox{
  display: none;
}
.nav>li{
   display: inline-block;
  
  padding-left: 0.5em;
}
.nav>li+li{
  display: inline-block;
  border-left: 1px solid #6699CC;
  
  padding-left: 0.5em;
}
.nav>li>a{
  color: gray;
}
.topright>a{
  color: gray;
font-size: 14px;
}
.nav>li:hover>a{
  color: skyblue;

}
.searchtext{
    border-right: 0.1em solid #ccc;
    width: 132px;
    border-radius: 0.5em;
    background-color: #efefef;
    padding: 0em 1em;
    font-size: 15px;
    margin-top: 2px;
}
.topright{
display: inline-block;
margin-left:auto;
}
.topright>select{ 
    border: 1px solid #ccc;
    width: 55px;
    margin: auto;


}
.login{
 border-left: 0.1em solid #ccc;
margin: auto;
  padding-left: 1px;

}
.login:hover{

 color: skyblue; 
 text-decoration: underline;
}
.wrapper {
    border:1px solid #ccc;
     border-radius: 0.3em;
    
    background-color:#ccc;
    display:inline-block;
    

}






                                                   /**************************/
                                                   /*********SECTIONS*********/
                                                   /**************************/


                                                   /**************************/
                                                   /*         BANNER         */
                                                   /**************************/



.section-container {
    padding: 0;
    max-width: 940px;
    width: auto;
    overflow: hidden; 
    margin: 0 auto;
}

.section-banner{
    padding-top:75px;   
    background: url('../img/slide-bg-complexity.jpg') no-repeat center center fixed; ;
    background-repeat: none;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    z-index:100;
}
.LEARN-BUTTON{
    border-radius: 8px;
    background: #3498db;
    padding: 3px 20px;
    box-shadow: 0px 1px 3px #666666;
}
.LEARN-BUTTON:hover{
    border-radius: 8px;
    background: skyblue;
    padding: 3px 20px;
    box-shadow: 0px 1px 3px #666666;
}
.Arrow
{
    margin-left: 15px;
    margin-bottom: 0 auto ;
}
.Squares
{
  margin-left:-2em;


}
.Squares>a>li{
  display: inline-block;
  border-radius: 2px;
    background: #3498db;
    padding: 8px 8px;
    box-shadow: 0px 1px 3px #666666;
}
.Squares>a+a>li{
  display: inline-block;
    border-radius: 2px;
    background: white;
    padding: 8px 8px;
    box-shadow: 0px 1px 3px #666666;
    color: black;
}
.Squares>a+a:hover>li{
    display: inline-block;
    border-radius: 2px;
    background: #3498db;
    padding: 8px 8px;
    box-shadow: 0px 1px 3px #666666;
    color: white;
}

.cube{
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  display: inline-block;
  width: 260px;
  cursor: pointer;
  padding: 10px 15px;
  margin-right: 20px;
}
.cube:hover{
  opacity: 0.9;
}
.cubeslist{
    list-style-type: none;
    padding: 0;
    margin-top: 40px;
    padding-bottom: 2em;
    margin-bottom: -1.3em
}
.cubetext{
  padding: 0;
  height: 130px;
  margin-top: 0;
}

.linkicon{
    padding-right: 4px;
    margin-bottom: -0.3em;
}
.play{
    width: 25px;
    height: 25px;
    padding-right: 4px;
    margin-bottom: -0.2em;
}
.document{
    width: 18px;
    height: 22px;
    padding-right: 4px;
    margin-bottom: -0.2em;
}
.pink{
  background: #FF69B4;
  opacity: 0.80;
}
.green{
  background: #32CD32;
  opacity: 0.80;
}
.orange{
  background: #FF8C00;
  opacity: 0.80;
}

                                                 /**************************/
                                                 /*        SOLUTION        */
                                                 /**************************/

.section-solutions{
background:#46a2c7;
display:block;
padding-top:10px;
padding-bottom: 10px;
-moz-box-shadow: 0 0 1px 1px #888;
 -webkit-box-shadow: 0 0 1px 1px#888;
box-shadow: 0 0 1px 1px #888;
text-align: center;
width: 100%;

}
.section-solutions figcaption{
  color: #FFFFFF; 
  padding-top: 10px;
}
.do-list{
  list-style-type: none;
  padding: 30px 0 20px 0;
}
.do-list li{
  display: inline-block;
  width: 152px;
  height: 152px;
  text-align: center;
  vertical-align: middle;
}
.do-list > li > a > figure {
  margin: 0 auto;
  height: 60px;
  text-align: center;
}



.img1>div{
  height: 60px;
  background: url(../img/solution_icon_smart-money.png) no-repeat center center;
}
.img1:hover div{
  height: 60px;
  background: url(../img/solution_icon_smart-money_hover.png) no-repeat center center;
}
.img2>div{
  height: 60px;
  background: url(../img/solution_icon_biz-analitics.png) no-repeat center center;
}
.img2:hover div{
  height: 60px;
  background: url(../img/solution_icon_biz-analitics_hover.png) no-repeat center center;
}
.img3>div{
  height: 60px;
  background: url(../img/solution_icon_optimize-efficnt.png) no-repeat center center;
  margin-right: -1.5em;
}
.img3:hover div{
  height: 60px;
  background: url(../img/solution_icon_optimize-efficnt_hover.png) no-repeat center center;
   margin-right: -1.5em;
}
.img4>div{
  height: 60px;
  background: url(../img/solution_icon_biz-transform.png) no-repeat center center;
}
.img4:hover div{
  height: 60px;
  background: url(../img/solution_icon_biz-transform_hover.png) no-repeat center center;
}
.img5>div{
  height: 60px;
  background: url(../img/solution_icon_personal.png) no-repeat center center;
}
.img5:hover div{
  height: 60px;
  background: url(../img/solution_icon_personal_hover.png) no-repeat center center;
}
.img6>div{
  height: 60px;
  background: url(../img/solution_icon_diti-cx.png) no-repeat center center;
}
.img6:hover div{
  height: 60px;
  background: url(../img/solution_icon_diti-cx_hover.png) no-repeat center center;
}
.img1:hover .texthover{
  color:rgb(77, 196, 255);
  }
.img2:hover .texthover{
  color:rgb(77, 196, 255);
  }
  .img3:hover .texthover{
  color:rgb(77, 196, 255);
  }
  .img4:hover .texthover{
  color:rgb(77, 196, 255);
  }
  .img5:hover .texthover{
  color:rgb(77, 196, 255);
  }
  .img6:hover .texthover{
  color:rgb(77, 196, 255);
  }
.SOLUTION-BUTTON{
  border-radius: 5px;
    background:#1f8fc7;
    padding: 3px 20px;
    margin-bottom: 2em;
    font-size: 20px;
}
.SOLUTION-BUTTON:hover{
border-radius: 5px;
    background: skyblue;
    padding: 3px 20px;
    box-shadow: 0px 1px 3px #666666;

}

                                                        /**************************/
                                                        /*     News AND EVENTS    */
                                                        /**************************/

.section-newsandevents{ 
    background: url('../img/news-and-events-bg.jpg') no-repeat center center fixed;
    background-repeat: none;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    text-align: center;
  display:block;
  padding-top:15px;
  padding-bottom: 20px;
  -moz-box-shadow: 0 0 1px 1px #888;
    -webkit-box-shadow: 0 0 1px 1px#888;
    box-shadow: 0 0 1px 1px #888;
    text-align: center;
    width: 100%;
}
.newsandeventslist{
display: inline-block;
    padding: inherit;
}

.newsandeventslist>li{
display: inline-block;
 width: 272px;
 height:230px;
margin: 0 0 0 0;
}
.newsandeventslist>li+li{
  margin: 0 55px 0 55px;
}
.newsandeventslist>li+li+li{
margin: 0 0 0 0;
}

.allnews>div{
  float: left;
}
.allevents1>div{
  float: left;
}
.allevents2>div{
  float: left;
}
.allnews>div:hover{
  float: left;
  color: black;
}
.allevents1>div:hover{
  float: left;
  color: black;
}
.allevents2>div:hover{
  float: left;
  color: black;
}
.allnews>div:before{
  content: "";
background:url(../img/eventListIconNews.png) no-repeat;
width: 25px;
height: 25px;
display: block;
float: left;
}
.allevents1>div:before{
  content: "";
background:url(../img/eventListIconPress.png) no-repeat;
width: 25px;
height: 25px;
display: block;
float: left;
}
.allevents2>div:before{
content: "";
background:url(../img/eventListIconEvents.png) no-repeat;
width: 25px;
height: 25px;
display: block;
float: left;
}
.allnews>div:hover:before{
  content: "";
background:url(../img/eventListIconNews_hover.png) no-repeat;
width: 25px;
height: 25px;
display: block;
float: left;
}
.allevents1>div:hover:before{
  content: "";
background:url(../img/eventListIconPress_hover.png) no-repeat;
width: 25px;
height: 25px;
display: block;
float: left;
}
.allevents2>div:hover:before{
content: "";
background:url(../img/eventListIconEvents_hover.png) no-repeat;
width: 25px;
height: 25px;
display: block;
float: left;
}
.day{
  display: block;
  background-color: #46a2c7;
  border-radius: 5px;
 
  border-bottom: 1px dashed #FFFFFF;
  font-size: 40px;
 
  text-align: center;
}
.month{
  display: block;
  background-color: #46a2c7; 
  font-size: 20px;
 border-radius: 5px;
 
  text-align: center;
}
.date-event{
  width: 55px;
  padding:0;
  float: left; 
  text-align: center;
  margin: -5px 9px 3px 0px;
}
.newsandeventsarticle{
  text-align: left;
   background-color: rgba(255, 255, 255, 0.3) ;
  opacity: 0.8;
  border-radius: 5px;
  -moz-box-shadow: 0 0 0px 0px #888;
    -webkit-box-shadow: 0 0 0px 0px#888;
    box-shadow: 0 0 0px 0px #888;
    padding:16px 1px 25px 5px;
}
.newsandeventsarticle:hover{
  text-align: left;
   background-color: #FFFFFF;
  opacity: 1;
  border-radius: 5px;
  -moz-box-shadow: 0 0 0px 0px #888;
    -webkit-box-shadow: 0 0 0px 0px#888;
    box-shadow: 0 0 0px 0px #888;
    color: black;
}
.newsandeventicons{
    margin-top: 0.9em;
    margin-left: 5px;
  }














                                                         /**************************/
                                                         /*    SUCCESS STORIES     */
                                                         /**************************/
.section-stories
{
background:rgb(240,240,240) ;
display:block;
padding-top:15px;
padding-bottom: 20px;
-moz-box-shadow: 0 0 1px 1px #888;
 -webkit-box-shadow: 0 0 1px 1px#888;
box-shadow: 0 0 1px 1px #888;
text-align: center;
background-size: cover;
}
.success-heading
{
  color: black;
}
.success-stories{
display:flex;
 margin: 36px 0 36px 0px;
     padding: inherit;

}
.section-stories>section>div
{

  padding-top: 20px;
}


.success-stories>li
{
   width: 340px;
   height: 300px;
   display: inline-block;
   background-color: white;
   margin: 0 36px 2px 0px;


}
.success-stories>li+li+li
{
   width: 210px;
   margin: 0 0 0 0;
  
}
.success-text1>a>div{
  height: 110px;
      text-align: left;
    color: black;
    font-size: 17px;
    font-family: serif;
        border-bottom: 1px solid grey;
    width: 300px;
    margin: 10px 0 0 10px;
    
}

.success-text1>a>div:hover{
  height: 110px;
      text-align: left;
    color: black;
    font-size: 17px;
    font-family: serif;
        border-bottom: 1px solid grey;
    width: 300px;
    margin: 10px 0 0 10px;
  	
 	

}
.success-text1>a>div>blockquote{
  height: 110px;
      text-align: left;
    color: black;
    font-size: 17px;
    font-family: serif;
        border-bottom: 1px solid grey;
    width: 300px;
    margin: 10px 0 0 10px;
    display: inline;

   

}

.success-text1>a>div:before{
  
  content: "";
background:url(../img/CB-JP-face.png) no-repeat;
height: 100px;
width: 100px;
display: block;
float: left;
margin: 0 6px 0px 0px;
border-radius: 5px;

}
.person-details {
    display: inline-block;
    width: 300px;
}

.person-details > p {
  font-size: 14px;
    color: black;
    float: left;
    height: 0px;
     }
.person-details > p+p {
  display: inline-block;

     }

.person-details > p > p {
    color: skyblue;
    text-align: left;
 display: inline-block;

}
.logos1{
  background: rgb(240,240,240);
  height: 85px;
    margin: -10px 0px 0px 0px;
       padding-top: 16px;
    
}

.person-logo {
    float: right;
      margin: -40px 0px 0px 0px;

}
.logos1>div{
  display: inline-block;
  background-color: #fff;
  border-radius: 5px;
}
.logos1>div > img {
       width: 100px;
    height: 81px;
}
.logopic1:after,.logopic2:after,.logopic3:after,.logopic4:after,.logopic5:after,.logopic6:after{
background: #3398CC url("../img/logos_generic_2nd_side_cut_02_w108px_x_h95px.jpg") center center no-repeat;
    content: "";
    width: 100px; /*350px*/
    height: 0;
    transition: height 0.4s linear;
    display: block;
    position: absolute;
    border-radius: 3px;
    z-index:-1;
}
.logopic1:hover:after,.logopic2:hover:after,.logopic3:hover:after,.logopic4:hover:after,
.logopic5:hover:after,.logopic6:hover:after
{
  height: 85px;
  transform:translateY(-100%);
  z-index: 1;
}
.logopic2 {
    margin: 0 10px 0 10px;
}
.success-text2>a:before,.success-text1>a:before{
  background: #3398CC url("../img/logos_generic_2nd_side_cut_02_w108px_x_h95px.jpg") center center no-repeat;
    content: "";
    width: 330px; /*350px*/
    height: 0;
    transition: height 0.5s ease-in-out;
    display: block;
    position: absolute;
    border-radius: 3px;

  }
  .success-text2>a:hover:before,.success-text1>a:hover:before{
    height: 200px;
  }
.success-text2>a>div{
  height: 110px;
      text-align: left;
    color: black;
    font-size: 17px;
    font-family: serif;
        border-bottom: 1px solid grey;
    width: 300px;
    margin: 20px 0 0 10px;
      
}
.success-text2>a>div:hover{
  height: 110px;
      text-align: left;
    color: black;
    font-size: 17px;
    font-family: serif;
        border-bottom: 1px solid grey;
    width: 300px;
    margin: 20px 0 0 10px;
     
}
.success-text2>a>div>blockquote{
  height: 110px;
      text-align: left;
    color: black;
    font-size: 17px;
    font-family: serif;
        border-bottom: 1px solid grey;
    width: 300px;
    margin: 20px 0 0 10px;
    display: inline;
    }
.success-text2>a>div:before{
  
  content: "";
background:url(../img/JT-GM-face.png) no-repeat;
height: 100px;
width: 100px;
display: block;
float: left;
margin: 0 6px 0px 0px;
border-radius: 5px;

}
.logos2{
  background: rgb(240,240,240);
  height: 100px;
      

    
}
.logos2>div{
  display: inline-block;
  background-color: #fff;
   border-radius: 5px;
}
.logos2>div > img {
       width: 100px;
    height: 81px;

}
.person-logo2 {
    float: right;
      margin: -15px 10px 0px 0px;

}

.logos3{
  background: rgb(240,240,240);
  height: 85px;
        margin: 18px 0px 0px 0px;
    padding-top: 16px;
    
}
.logos3>div{
  display: inline-block;
  background-color: #fff;
  border-radius: 5px;
}
.logos3>div > img {
       width: 97px;
    height: 81px;
}
.person-details3 {
    display: inline-block;
    width: 230px;
}

.person-details3 > p {
  font-size: 14px;
    color: black;
    float: left;
    height: 0px;
     }
.person-details3 > p+p {
  display: inline-block;
margin: 14px 0 0 16px;
width: 102px;

     }

.person-details3 > p > p {
    color: skyblue;
    text-align: left;
 display: inline-block;
    margin: 0 0 0 8px;
}
.success-text3>a:before{
 background: #3398CC url("../img/logos_generic_2nd_side_cut_02_w108px_x_h95px.jpg") center center no-repeat;
    content: "";
    width: 210px; /*350px*/
    height: 0;
    transition: height 0.6s ease-in;
    display: block;
    position: absolute;
    border-radius: 3px;
}
.success-text3>a:hover:before{
  height: 204px;
}

.success-text3>a>div{
  height: 110px;
      text-align: left;
    color: black;
    font-size: 17px;
    font-family: serif;
    border-bottom: 1px solid grey;
    width:180px;
    margin: 20px 0 0 16px;
     
}
.success-text3>a>div:hover{
  height: 110px;
      text-align: left;
    color: black;
    font-size: 17px;
    font-family: serif;
    border-bottom: 1px solid grey;
    width:180px;
    margin: 20px 0 0 16px;

}
.success-text3>a>div>blockquote{
  height: 110px;
      text-align: left;
    color: black;
    font-size: 17px;
    font-family: serif;
    border-bottom: 1px solid grey;
    width:180px;
    margin: 20px 0 0 16px;
    display: inline;
}
.person-logo3 {
    float: right;
      margin: -14px 20px 0px 0px;

}
.logopic4 {
  margin: 0px 6px 0 0 ;
  
}
.logopic5 {
  margin: 0px 0px 0 4px ;
  
}
.quote{
  background: url(../img/quotegrey.png) no-repeat;

  height: 22px;
  width: 32px;
  
  display: inline-block;

}
.quote:hover{

  background: url(../img/quoteblue.png);
   height: 22px;
  width: 32px;

display: inline-block;

}


.TOP{
  background-color: rgb(240,240,240);
      text-align: center;
    padding: 0px 650px 0px 2px;
    margin: -38px 0px 0px 0px;
}
.TOP>a{
  background-color: #2B2B2B;
}










                                                          /**************************/
                                                          /*         FOOTER         */
                                                          /**************************/




.footer-links {
    height: auto;
    margin: 0;
}

.footer-block {
    max-width: 940px;
    min-width: 800px;
    width: 940px;
    margin: 0 auto;
}

.footer-links-column {
    float: left;
    margin-right: 32px;
    font-size: 1rem;
    line-height: 20px;
}

.footer-heading {
    font-size: 16px;
    text-transform: uppercase;
}

.key-solutions, .products-services, .company-links {
    list-style: none;
    padding-left: 0;
    font-weight: 100;
}

.footer-links-column a {
    text-decoration: none;
    color: #808080;
    font-size: 14px;
}

.footer-links-column a:hover {
    color: white;
    text-decoration: underline;

}

.footer-box {
    float: right;
    background-color: #3d3d3d;
    width: 26%;
    position: relative;
    padding: 0 12px;
    height: 350px;
}

.footer-box h2 {
    color: #3195c9;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 200;
}

.footer-box-content >div+div{
    color: gray;
    display: block;
}

.footer-box-content:hover >div+div {
  text-decoration: underline;
    color:white;
}

.press-release {
    border-bottom: 1px solid grey;
}

.press-release h2{
    padding: 16px 0;
    margin: 0 6px;
    font-weight: 200;
    text-transform: uppercase;
}

.date-box-footer {
    width: 60px;
    height: 80px;
    padding: 2px;
    float: left;
    margin: 0 10px 0 5px;
}
.date-heading h3{
   font-size: 26px;
        margin: -7px 0px -5px 0px;

    text-align: center;
    line-height: 2.2rem;
    font-weight: 400;
}

.footer-date {
   font-size: 26px;
    margin: 0;
    text-align: center;
    line-height: 2.2rem;
    font-weight: 400;
}

.footer-month {
    font-size: 1.4rem;
    margin: 0px;
    text-align: center;
}

.latest-blog-post-text {
    margin: 0 8px;
    padding: 1px 5px;
    font-size: 1rem;
    font-weight: 100;
}

.latest-blog-post-text p {
    margin: 0 0 18px 0;
}

.subscribe {
    position: relative;
}

#email {
    width: 200px;
    line-height: 2.3em;
    border-radius: 3px;
    border: none;
    margin:0 5px 0 5px;
    padding-left: 8px;
    color: grey;
    outline:none;
}

#subscribe-submit {
  background: #3498db;
  border-radius: 3px;
  border: none;
  color: white;
  line-height: 2.3em;
  margin-left: -45px;
  padding: 1px 10px;
  position: absolute;
  cursor: pointer;
}
#subscribe-submit:hover {
  background: skyblue;
  border-radius: 3px;
  border: none;
  color: white;
  line-height: 2.3em;
  margin-left: -45px;
  padding: 1px 10px;
  position: absolute;
  cursor: pointer;
}
.social-icons {
    padding: 10px;
    width: 230px;
    position: absolute;
    bottom:10px;
}

.ico-twitter {
    background: url(../img/socialMenuIcon-twitter.png) no-repeat;
    content: "twitter";
    display: inline-block;
    width: 40px;
    height: 20px;
    padding-right:1px;
    padding-left:1px;
}

.ico-linkedin {
    background: url(../img/socialMenuIcon-linkdin.png) no-repeat;
    content: "linkedin";
    display: inline-block;
    width: 40px;
    height: 20px;
    padding-right:1px;
    padding-left:1px;
}

.ico-youtube:hover {
    background: url(../img/socialMenuIcon-youtube_hover.png) no-repeat;
    display: inline-block;
  width: 40px;
    height: 20px;
    padding-right:1px;
    padding-left:1px;
}

.ico-youtube {
    background: url(../img/socialMenuIcon-youtube.png) no-repeat;
    display: inline-block;
  width: 40px;
    height: 20px;
    padding-right:1px;
    padding-left:1px;
}

.ico-twitter:hover {
    background: url(../img/socialMenuIcon-twitter_hover.png) no-repeat;
    display: inline-block;
   width: 40px;
    height: 20px;
    padding-right:1px;
    padding-left:1px;
}

.ico-linkedin:hover {
    background: url(../img/socialMenuIcon-linkdin_hover.png) no-repeat;
    display: inline-block;
    width: 40px;
    height: 20px;
    padding-right:1px;
    padding-left:1px;
}



.footer-nav {

    margin-right: 0px;
    font-size: 14px;
    width: 656px;
    height: 20px;
    float: left;
    margin-top:85px;
    display: inline-block;
}

ul.footer-menu {
    margin: 0px;
    padding: 0px;

}

.footer-menu > li {
    list-style: none;
    margin: 0px;
    display: inline-block;
    color: grey;
}

.footer-menu > li > a {
    color: grey;
}
.footer-menu > li:hover a {
    color: white;
}


.subscribe-link > a {
    display: none;
    color: white;
    margin-left: 0px;
}














                                                          /**************************/
                                                          /*         MOBILE         */
                                                          /**************************/
																/*MEDIA QUERIES*/
.successtext2mob{
	display: none;
}

 .mobile-navigation {
        display: none;
    }
    .main-nav-mobile ul {
    display: none;
}

input[type=checkbox] {
    display:none;
}


.mobile-search-icon{
	display: none;
}
.footernavmobile{
	display: none;
}
.mobTOP
{
	display: none;
}
.mobcopyright{
	display: none;
}
.mobsuccess-stories{
	display: none;
}
@media all and (max-width:955px) {
	.success-text2>a:before,.success-text1>a:before{
  
    width: 340px; /*350px*/
    

  }
  .mobile-search{
      float: right;
      height: 30px;
      width: 30px;
      position: absolute;
      top: 20px;
      right: 10px;
      margin: 5px;
      padding: 6px 3px 0px 3px;
      display: inline-block;
      background: url(../img/searchBtnMobile.png) no-repeat center;
      background-color: #e5e5e5;
    }
   .mobile-search-textbox{
      width: 100%;
      margin: auto;
      margin-top: 15px;
      margin-bottom: 10px;
      height: 20px;
      border-radius: 7px;
    border: 1px solid #D2D2D2;
    outline: none;
    }
    .comverse-header{
      height: 100px;
    }
 input[type="checkbox"]:checked ~ input{
    display: block;
    }
	.cubetext{
		    height: 75px;
	}

.Squares{
	    margin-top: 100px;
}


.section-banner{
    background: url('../img/weDoBG.png') repeat center center ;
    padding-top: 100px;

}

.mobsec{
	background: url('../img/slide-bg-complexity.jpg') no-repeat center center ;
	z-index: 20;
	padding: 0 0 15px 0px;
margin-bottom: -35px;
background-size: cover;

   }
   .comverse-logo>img{
   	 	content:url(../img/comverse-logo-medium.png);
   	 	margin-top: 20px;
   }

	.mobbanner{
	background: url(../img/weDoBG.png) repeat  rgba(81, 153, 204, 0.9);
    padding-top: 20px;
    margin-top: -25px;
}
.cubeslist>li+li+li{
	    margin-bottom: -5px;
}
	.mobcopyright{
	display: block;
	color: black;
	text-align: center;
	font-size: 14px;
}
.mobcopyright>a{color: black;}
	h1{
		margin-left: 5px;
		font-size:34px;
	}
	h3{
		margin-left: 5px;
		font-size: 20px;

	}
	.LEARN-BUTTON{
		margin-left: 5px;
	}
.mobTOP
{
	display:block;
	float: right;
	margin:-30px 0 0 0;
}
.section-stories {
	padding-bottom: 40px;
	}

 .footernavmobile {
            display: block;
            background-color: #2C2C2C;
            margin-bottom: 16px;
            margin: 0;
            list-style: none;
            padding-left: 0;
            font-size: 1.2rem;
            text-align: center;
        }

.footerlanguage{
	    background: rgba(221, 211, 203, 0.15);
    
    color: white;
    margin: 0px 0px 0px 10px;
    height: 20px;
    width: 75px;
}

    .footernavmobile li {
        color:white;
        padding-left: 20px;
        border-bottom: 1px solid black;
        padding: 10px 0 10px 10px;
    }

    .footernavmobile li:hover {
        background-color: #BCBCBC;
    }

    .footernavmobile li > a {
        color: #FFF;
        text-decoration: none;
        outline: none;
    }

.topright{
	display: none;
}

.navbar{
	display: none;
}
.mobile-search-icon{
	    float: right;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 20px;
    right: 10px;
    margin: 5px;
    padding: 6px 3px 0px 3px;
    display: inline-block;
}


 .mobile-navigation {
        display: block;
    }
label {
        display: block;
        border: 1px solid #d9d9d9;
        border-radius: 5px;
        text-decoration: none;
        background: linear-gradient(to bottom, #f2f2f2 0%,#e5e5e5 100%);
    }

    label:hover {
        cursor: pointer;
    }

    label.mobile-nav {
        position: absolute;
        top: 20px;
        left: 10px;
        margin: 5px;
        padding:5px;
    }

    .icon-bar {
        display: block;
        background-color: #a0a0a0;
        width: 30px;
        height: 3px;
        margin: 3px auto;
    }

    .icon-bar:not(:first-child) {
        margin-top: 2px;
    }

    .main-nav-mobile {
        display: none;
        list-style: none;
        text-transform: uppercase;
        font: 1.2rem "Open Sans";
        position: absolute;
        left: 0;
        top:0;
        z-index: 1;
        width: 100%;
        padding: 0;

    }

    .main-nav-mobile ul {
        list-style: none;
        background: white;
        padding: 0;
    }

    .main-nav-mobile li {
        color: #333333;
    }

    .main-nav-mobile label {
        width: 100%;
        border-radius: 0;
        background : #FFF;
    }

    .main-nav-mobile li a,
    .main-nav-mobile label {
    background-color: white;
    margin: 0;
    height: 2rem;
    text-transform: uppercase;
    display: block;
    text-align: left;
    width: 100%;
    color: #585951;
    border-bottom: 1px solid black;
    border-top: 0px solid black;
    font: 18px Arial;
    text-decoration: none;
    line-height: 2.1rem;
    }

    input[type="checkbox"]:checked ~ ul {
        display: block;
        top:56px;
    }

 input[type="checkbox"]:checked + div {
        display: block;
        top:50px;
        left:-272px;
        right:0;
        background-color: white;
        z-index: 2;
    }

    input [type="checkbox"]:checked + div > input {
        display: block;
    }


footer{
	display: none;
}







.TOP{
	display: none;
}


.cubeslist{
margin-right: 1.9em;
}

.cubes{
  display:block;
}
.cube{
	width: 100%;
  display: block;
  margin: auto;
  margin-bottom: 5px;
}
.newsandeventslist{
display: block;
    padding: inherit;
    margin: auto;
}

.newsandeventslist>li{
display: block;
 width: 272px;
 height:230px;
margin: auto;
}
.newsandeventslist>li+li{
  margin: auto;
}
.newsandeventslist>li+li+li{
margin: auto;
}

.success-stories>li
{
   width: 340px;
   height: 300px;
   display: block;
   background-color: white;
   margin: auto;


}
.success-stories>li+li+li
{
   display: none;
  
}
.do-list>li {
    display: inline-block;
    width: 240px;
    height: 175px;
    text-align: center;
    vertical-align: middle;
}
}
@media all and (max-width:700px) {
	.mobsuccess-stories{
	display: block;
	text-align: center;
}
.success-stories
{
   display: none;

}
.mobsuccess-stories>li
{
	text-align: center;
   margin-bottom: 30px;
}


.logos1{
  margin: 0px 0px 0px 0px;
}
.success-text1>a>div{
  width: 320px;

}
.success-text1>a:after{
width: 340px;
}
.mobsuccess-stories{
	text-align: center;
display:block;
 margin: 36px 0 36px 0px;
     padding: inherit;

}
.mobsection-stories>section>div
{

  padding-top: 20px;
}


.mobsuccess-stories>li
{
   width: 340px;
   height: 300px;
   display: block;
   background-color: white;
 margin:auto;


}

}







@media all and (max-width:710px) {
	.do-list>li {


    display: inline-block;
    width: 200px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
}
}
@media all and (max-width:600px) {

.do-list>li{
  display: inline-block;
  width: 160px;
  height: 160px;
  text-align: center;
  vertical-align: middle;
}

}
@media all and (max-width:500px) {
.mobcopyright{
	display: block;
	color: black;
	text-align: center;
	font-size: 10px;
}

.do-list>li{
  display: inline-block;
  width: 130px;
  height: 130px;
  text-align: center;
  vertical-align: middle;

}
}
@media all and (max-width:480px) {
.do-list>li{
  display: inline-block;
  width: 125px;
  height: 130px;
  text-align: center;
  vertical-align: middle;

}
}
@media all and (max-width:340px) {

.mobsuccess-stories>li
{
   width: 98%;
   }
.logos1>div > img {
    width: 80px;
  }
  .success-text1>a>div {
    width: 100%;
  }

.SOLUTION-BUTTON {
    font-size: 2px;
    border-radius: 5px;
    background: #1f8fc7;
    padding: 3px 20px;
    margin-bottom: 2em;
    font-size: 10px;
}
}
